.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    color: red;
}

body {
    background: url('https://image.freepik.com/fotos-gratis/mesa-de-madeira-vazia-sobre-fundo-desfocado-em-phu-pa-por-mountian-espaco-para-produtos-de-montagem_7182-74.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background: #fff;
    /* height: 100vh; */
}

.thumbnail .caption {
    border-top: 1px solid #d7d7d7;
}

.order {
    display: flex;
    justify-content: space-around;
}

.form-group {
    margin-bottom: 0;
    height: 34px;
}

.your-option {
    color: #fff;
    width: 100%;
    height: 100%;
    background: #337AB7;
    border: none;
    border-radius: 4px;
}

h3 {
    text-transform: uppercase;
}

table {
    /* background: #fff; */
    width: 100%;
    /* -webkit-box-shadow: 5px 5px 34px 0px #000000;
box-shadow: 5px 5px 34px 0px #000000; */
}

/* tr {
    border: 1px solid gray;
    height: 30px;
}

th,
td {
    padding-left: 20px;
} */

.btn-agree {
    margin: 20px auto;
    text-align: center;
}